body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0px;
  padding: 0px;
}

.header-bg {
  background-color: #000000;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  gap: 20px;
  color: whitesmoke;
  margin: auto auto;
}

.header-menu {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
}
.header-menu a {
  text-decoration: none;
  color: white;  
  padding: 16px 0px;
  border-radius: 4px;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  width: 0px;
  display: block;
  height: 3px;
  transition: 0.3s;
  position: absolute;
  background-color:#000000;
}

.header-menu a:hover::after {
 width: 100%;
  transition: 0.3s;
  background-color:#ffffff;


}

@media (max-width:700px) {

 .header-menu {
  gap: 30px 10px;
 }
   .header-menu a {
    padding: 12px 10px;
    font-size: 13px;
    background-color: #111;
   }

   .header-menu a::after {
    content: none;
  }
  
}

@media (max-width:300px) {
  .header {
    justify-content: center;
  }
  .header-menu a {
    padding: 10px 10px;
    font-size: 12px;
  }
}