.main-bicleta-bg {
  background: #111111;
}

.conteudo-bicicletas-interna {
  display: grid;
  margin: 60px 0px;
  gap: 0px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0px;
  grid-template-columns: 1fr 1fr;
}

.imagens-bicicletas-interna {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  object-fit: cover;
}

.imagens-bicicletas-interna img {
  flex: 1;
  min-width: 250px;
}

.imagens-bicicletas-interna img:first-child {
  flex: 100%;
}

.conteudos-informacao-inicial p {
  font-size: 1.5rem;
  font-family: "Roboto";
  color: #b2b2b2;
  margin-bottom: 32px;
}

.informacao-comprar {
  display: grid;
  justify-items: flex-start;
  align-items: center;
  gap: 8px 12px;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr;
}

.informacao-comprar a {
  grid-row: 1/3;
  justify-self: flex-start;
  white-space: nowrap;
  max-width: max-content;
}
.informacao-comprar span {
  display: flex;
  gap: 8px;
  align-items: center;
  grid-column: 2;
  padding: 4px 8px;
  background: #000000;
  border-radius: 5px;
  color: #9c9c9c;
  justify-self: flex-start;
  max-height: min-content;
}

.informacao-comprar img {
  width: 16px;
  height: 16px;
}

.titulo-conteudo-informacoes {
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.333;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-family: "Poppins";
}
.informacoes-conteudo-bicicleta,
.ficha-tecnica-conteudo {
  display: grid;
  background: #000000;
  padding: 32px;
  gap: 32px;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
}

.informacoes-conteudo-bicicleta img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.informacoes-conteudo-bicicleta h3 {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.333;
  margin-bottom: 8px;
}

.informacoes-conteudo-bicicleta p {
  color: #b2b2b2;
  font-size: 0.875rem;
  line-height: 1.428;
}

.ficha-tecnica-conteudo {
  color: #cccccc;
  display: flex;
  gap: 0px;
  flex-direction: column;
}

.titulo-conteudo-ficha {
  margin-top: 40px;
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.333;
}

.ficha-tecnica-conteudo li {
  display: flex;
  padding-top: 8px;
  border-bottom: 2px solid #111111;
  justify-content: space-between;
}

.ficha-tecnica-conteudo LI:nth-child(6) {
  border-bottom: none;
}

.ficha-tecnica-conteudo span {
  color: #9c9c9c;
}
@media (max-width:1000px) {
.conteudos-informacao-inicial > p {
  font-size: 1.3rem;
}
}

@media (max-width:920px) {
  .conteudo-bicicletas-interna {
  grid-template-columns: 1fr;
}
.imagens-bicicletas-interna {
  margin-top: 60px;
  grid-row: 2;
}
}
@media (max-width:500px) {
  .informacoes-conteudo-bicicleta,
.ficha-tecnica-conteudo {
  grid-template-columns: 1fr;
}
}

@media (max-width:450px) {
  .informacao-comprar > span {
    font-size: 0.65rem;
  }
}