.header-bg {
  background-color: var(--cor-12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.header-menu {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
}
.header-menu a {
  padding: 16px 0px;
  color: var(--cor-0);
  border-radius: 4px;
  position: relative;
}

.header-menu a::after {
  content: "";
  width: 0px;
  display: block;
  height: 3px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
  background-color: var(--cor-0);
}

@media (max-width: 700px) {
  .header-menu {
    gap: 30px 10px;
  }
  .header-menu a {
    padding: 12px 10px;
    font-size: 0.875rem;
    background-color: var(--cor-11);
  }
 
  .header-menu a::after {
    content: none;
  }
}

@media (max-width: 500px) {
  .header-menu a {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}

@media (max-width: 300px) {
  .header-menu a {
    padding: 6px 8px;
  }
}
