.termos h3 {
  margin-top:  20px; ;
  margin-bottom: 20px;
}

.termos p {
  margin-bottom: 40px;
}

@media(max-width:500px) {
  .termos h3 {
    font-size: 1.1rem;
  }
  
  .termos p {
    font-size: 1rem;
  }
}

@media(max-width:500px) {
  .termos h3 {
    font-size: 1rem;
  }
  
  .termos p {
    font-size: 0.88rem;
  }
}


